/* First Row Begin */
	.firstrow {
		background-color: #FFFFFF;
		border: 10px solid red;
		border-radius: 10px;
	}
/* First Row Ending */
/* Second Row Begin */
	.secondrow {
		background-color: #FFFFFF;
		border: 10px solid red;
		border-radius: 10px;
	}
	
	.begin-game {
		background-color: orange;
		display: inline-block;
	}
	
	.name-test {
		background-color: orange;
		display: inline-block;
	}

/* Second Row Ending */
/* Third Row Beginning */
	.thirdrow {
		background-color: #FFFFFF;
		border: 10px solid red;
		border-radius: 10px;
	}
	
	.input-field-div {
		display: inline;
	}
/* Third Row Ending */
/* Fourth Row Beginning */
	.fourthrow {
		background-color: #FFFFFF;
		border: 10px solid red;
		border-radius: 10px;
	}
	/* overflow: auto; makes it have a scrollbar, you also need a height and width */
	.noti-gen {
		height: 300px;
		border: 3px solid black;
		overflow: auto;
	}
	
	.new-noti-gen {
		display: block;
		border: 1px dashed orange;
		color: blue;
	}
	
	
	.noti-gen-button {
		height: 30px;
		width 10px;
		border: 4px solid orange;
		color: orange;
		
	}
	
	.noti-gen-begin {
		display: block;
		border: 2px solid orange;
		color: orange;
	}
	
	/* Wallet Notification Log */
	.noti-wallet {
		height: 300px;
		border: 3px solid black;
		overflow: auto;
	}
	
	.noti-wallet-begin {
		display: block;
		border: 2px solid green;
		color: orange;
	}
	
	.new-noti-wallet {
		display: block;
		border: 1px dashed green;
		font-family: "Comic Sans MS";
		font-size; 20px;
		color: blue;
	}

	.noti-wallet-button {
		height: 30px;
		width 10px;
		border: 4px solid green;
		color: green;
	}
	/* Player Balances */
	.player-balances {
		height: 300px;
		border: 3px solid black;
		overflow: auto;
	}
	
	.player-balances-button {
		height: 30px;
		width 10px;
		border: 4px solid blue;
		color: blue;
	}
/* Fourth Row Ending */

body {
	background-color: #C2C2A3;
	
}