/* First Row Begin */
	.firstrow {
		background-color: blue;
		border: 10px solid red;
		border-radius: 10px;
	}
/* First Row Ending */
/* Second Row Begin */
	.secondrow {
		background-color: blue;
		border: 10px solid red;
		border-radius: 10px;
	}
	
	.begin-game {
		background-color: orange;
		display: inline-block;
	}

/* Second Row Ending */
/* Third Row Beginning */
	.thirdrow {
		background-color: blue;
		border: 10px solid red;
		border-radius: 10px;
	}
/* Third Row Ending */
/* Fourth Row Beginning */
	.fourthrow {
		background-color: blue;
		border: 10px solid red;
		border-radius: 10px;
	}
	/* overflow: auto; makes it have a scrollbar, you also need a height and width */
	.noti {
		height: 300px;
		border: 3px solid black;
		overflow: auto;
	}
	
	.new-noti {
		display: block;
		border: 1px dashed orange;
	}
	
	
	.noti-button {
		height: 20px;
		width 10px;
		border: 1px solid blue;
	}
	
	.noti-begin {
		display: block;
		border: 2px solid black;
	}
	
	/* Wallet Display */
	.wd {
		height: 300px;
		border: 3px solid black;
		overflow: auto;
	}
	
	.wd-pwd {
		height: 40px;
		border: 2px solid orange;
		background-color: green;
	}
	
	.wd-pwd-info-text {
		font-family: "Comic Sans MS";
		font-size: 20px;
	}
/* Fourth Row Ending */

body {
	background-color: #C2C2A3;
	
}